
*.ide-wal

app/asp\.net/AllOut_API/\.vs/AllOut_API/v15/\.suo

*.ide

*.ide-shm

app/asp\.net/AllOut_API/\.vs/AllOut_API/v15/Server/sqlite3/

*.cache

*.props

*.targets

app/asp\.net/AllOut_API/\.vs/config/applicationhost\.config

app/asp\.net/AllOut_API/AllOut_API/bin/Debug/netcoreapp2\.0/

app/asp\.net/AllOut_API/AllOut_API/obj/Debug/netcoreapp2\.0/

app/asp\.net/AllOut_API/BusinessLayer/bin/Debug/netcoreapp2\.0/

app/asp\.net/AllOut_API/BusinessLayer/obj/Debug/netcoreapp2\.0/

app/asp\.net/AllOut_API/DataLayer/bin/Debug/netcoreapp2\.0/

app/asp\.net/AllOut_API/DataLayer/obj/Debug/netcoreapp2\.0/

app/asp\.net/AllOut_API/\.vs/AllOut_API/v15/

app/asp\.net/AllOut_API/\.vs/

app/asp\.net/AllOut_API/AllOut_API/bin/Debug/

app/asp\.net/AllOut_API/AllOut_API/obj/

app/asp\.net/AllOut_API/BusinessLayer/bin/Debug/

app/asp\.net/AllOut_API/BusinessLayer/obj/

app/asp\.net/AllOut_API/DataLayer/bin/

app/asp\.net/AllOut_API/DataLayer/obj/

app/asp\.net/AllOut_API/Services/obj/

app/asp\.net/AllOut_API/UnitTesting/obj/

app/asp\.net/AllOut_API/AllOut_API/bin/

app/asp\.net - bas/AllOut_API/\.vs/

app/asp\.net - gilian/AllOut_API/\.vs/

app/asp\.net - bas/AllOut_API/AllOut_API/obj/

app/asp\.net - bas/AllOut_API/AllOut_API/bin/

app/asp\.net - bas/AllOut_API/BusinessLayer/bin/

app/asp\.net - bas/AllOut_API/BusinessLayer/obj/

app/asp\.net - bas/AllOut_API/DataLayer/bin/

app/asp\.net - bas/AllOut_API/DataLayer/obj/

app/asp\.net - bas/AllOut_API/Services/bin/

app/asp\.net - bas/AllOut_API/Services/obj/

app/asp\.net - bas/AllOut_API/UnitTesting/bin/

app/asp\.net - bas/AllOut_API/UnitTesting/obj/

app/asp\.net - gilian/AllOut_API/AllOut_API/bin/

app/asp\.net - gilian/AllOut_API/AllOut_API/obj/

app/asp\.net - gilian/AllOut_API/BusinessLayer/bin/

app/asp\.net - gilian/AllOut_API/BusinessLayer/obj/

app/asp\.net - gilian/AllOut_API/DataLayer/bin/

app/asp\.net - gilian/AllOut_API/DataLayer/obj/

app/asp\.net - gilian/AllOut_API/Services/bin/

app/asp\.net - gilian/AllOut_API/Services/obj/

app/asp\.net - gilian/AllOut_API/UnitTesting/bin/

app/asp\.net - gilian/AllOut_API/UnitTesting/obj/
