<form class="text-center border border-light p-5" (ngSubmit)="onSubmit(empForm, $event)">

    <p class="h4 mb-4">Game aanmaken</p>
    <input type="string" id="gamecode" class="form-control mb-4" placeholder="Game Code" value="{{this.generatedHash}}">
    <input type="number" id="amountboobytraps" class="form-control mb-4" placeholder="Booby traps">
    <input type="text" id="timestamp" class="form-control mb-4" placeholder="Tijdsduur">
    <div class="questions_table">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Vragen</th>
                <th scope="col">Aantal punten</th>
                <th scope="col">lat</th>
                <th scope="col">lng</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Lange wapper</th>
                <td>5</td>
                <td>52</td>
                <td>49</td>
              </tr>
              <tr>
                <th scope="row">Lange wapper</th>
                <td>5</td>
                <td>52</td>
                <td>49</td>
              </tr>
              <tr>
                  <th scope="row">Lange wapper</th>
                  <td>5</td>
                  <td>52</td>
                  <td>49</td>
              </tr>
            </tbody>
          </table>
          <a href="#">Voeg een vraag toe aan deze game.</a>
    </div>
    
    <button class="btn btn-info btn-block" type="submit">Aanmaken</button>

</form>
<!-- Default form contact -->