<h1>Game overzicht</h1>
<br>
<table class="table">
  <thead class="black white-text">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Game naam</th>
      <th scope="col">Aantal teams</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Allout: antwerpen</td>
      <td>4</td>
      <td><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
      <td><a href="#"><i class="fa fa-times-circle" aria-hidden="true"></i></a></td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Allout: antwerpen</td>
        <td>4</td>
        <td><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
        <td><a href="#"><i class="fa fa-times-circle" aria-hidden="true"></i></a></td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Allout: antwerpen</td>
        <td>4</td>
        <td><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
        <td><a href="#"><i class="fa fa-times-circle" aria-hidden="true"></i></a></td>
    </tr>
  </tbody>
</table>
<a routerLink="/newgame">Maak een nieuwe game aan.</a>
<button (click)="debuggingTest()">Test</button>